{% load static %}

<!doctype html>
<html>
  <head>
    <title>{% block title %}Заголовок{% endblock %}</title>
    <meta charset='utf-8'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#e2e2e2">
    <link rel='stylesheet' href="{% static 'css/style.css' %}">
    <link rel='preconnect' href='https://fonts.googleapis.com'>
    <link rel='preconnect' href='https://fonts.gstatic.com' crossorigin>
    <link href='https://fonts.googleapis.com/css2?family=Ubuntu&display=swap' rel='stylesheet'>
    <link rel='icon' type='image/x-icon' href="{% static 'img/site.ico' %}">
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a href="{% url 'index' %}">Главная</a></li>
          <li><a href="{% url 'index' %}">Информация</a></li>
          <li><a href="{% url 'index' %}">Форум</a></li>
          <li><a href="{% url 'index' %}">Войти</a></li>
          <li><a href="{% url 'index' %}">Регистрация</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <div id='content'>
        {% block content %}
        Здесь кажется так пусто, мрачно и одиноко...
        {% endblock %}
      </div>
    </main>
    <footer>
      Права не защищены
    </footer>
  </body>
</html>